.tudou {
    position: relative;
    width: 402px;
    height: 224.06px;
    margin: 30px auto;
    background-color: aqua;
}
.tudou img {
    width: 100%;
    height: 100%;
}
.mask {
    /* 隐藏遮罩层，且不留位置 */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3) url(../images/arr.png) no-repeat center;
}
.tudou::before {
    content: '';
    /* 隐藏遮罩层，且不留位置 */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3) url(../images/arr.png) no-repeat center;
}
/* 当鼠标经过土豆这个盒子，就让里面的遮罩层显示出来 */
.tudou:hover .mask {
    /* 显示元素 */
    display: block;
}
/* 当鼠标经过土豆这个盒子，就让里面的before显示出来 */
.tudou:hover::before {
    /* 显示元素 */
    display: block;
}
